.section {
    background-color: var(--color-beige-background);
    padding: 3rem var(--padding-main);
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    gap: 0;
}

.aboutContent {
    width: 100%;
    max-width: 600px;
    margin-bottom: 2rem; /* Add space between content and video sections */
}

.aboutContent h3 {
    padding-right: 10rem;
    padding-bottom: 1rem;
    line-height: 0.7;
}

.aboutContent h2 {
    padding-right: 2rem;
}

.aboutContent p {
    padding: 2.5rem 0;
    padding-right: 1rem;
    color: var(--color-medium-text);
}

.videoSection {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.videoContainer {
    position: relative;
    width: 100%;
    max-width: 500px; 
    background: #000;
    border-radius: 10px;
    overflow: hidden;
}

.videoContainer video {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
    object-fit: cover; /* Ensures the video covers the container without distortion */
}

@media (min-width: 992px) {
    .section{
        padding: 3rem 0;
    }
    .aboutContent {
        padding-left: var(--padding-xlarge);
        max-width: 900px;
    }

    .aboutContent h3 {
        padding-right: 0rem;
        padding-bottom: 0rem;
        line-height: 0.7;
    }

    .aboutContent h2 {
        padding-right: 1rem;
        line-height: 3.2rem;
    }

    .aboutContent p {
        padding: 0;
        padding-right: 1rem;
    }
    .videoSection{
        padding-right: var(--padding-xlarge);
    }
    .videoContainer {
        
        max-width: 650px; 
  ;
    }
}