.hero{
    height: 500px;
    background-color: var(--color-green-background);

    display: flex;
    align-items: center;
    padding: 0 var(--padding-main);
}


.heroContent{
    display: flex;
    flex-direction: column;
    width: 100%;

    gap: 0.5rem;
    
}

.heroText{
    line-height: 1;
}



.buttonWrapper{
    max-width: 150px;
    padding: 0.2rem 0;
}

/*RESPONSIVENESS*/

@media(min-width: 992px){
    .heroContent{
        padding-left: var(--padding-large);
    }
    .heroImage{
    
        max-width: 800px;
    }
    .buttonWrapper{
        margin-top: 0.7rem;
    }
    
}