.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-beige-background);

    padding: 4rem 0;
    gap: 2.5rem;
}
.buttonContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
}
