.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-beige-background);

    padding: 4rem 0;
    gap: 2.5rem;
}
.buttonContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
}
.mapComponent{
    display: none;
}
@media(min-width: 992px){
    .buttonContainer{
        display: flex;
        flex-direction: row;
    }
    .mapComponent{
        display: block;
    }
}
