.section{
    
    display: flex;
    flex-direction: column;
    justify-content: center ;
}
.title{
    color: var(--color-bright-red);
    font-family: var(--font-fancy);
 
}
.burgerSection, .sidesSection, .sweetsSection{
    padding: 6rem 0 7rem 0;
    gap: 3.3rem;
}

.burgerSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-black-background);
}
.sidesSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-beige-background);
}
.sweetsSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-green-background);
}
.menuItemContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.menuItem{
    display: inherit;
    flex-direction: inherit;
    align-items: center;
}
.menuItemTopRow{
    display: inherit;
    flex-direction: inherit;
    align-items: center;
}

.menuItemBottomRow{
    display: none;
}
.horizontalLine{
    display: none;
    height: 2px; /* Adjust the thickness of the line */

    margin-top: auto; /* Push the line to the bottom of the flex container */
}
.overlappingImage1{
    display: none;
}
@media(min-width: 992px){
    .burgerSection, .sidesSection, .sweetsSection{
        padding: 6rem 0 7rem 0;
        gap: 1.3rem;
        
        padding: 6rem var(--padding-xlarge);
      
    }
    .burgerSection{
        align-items: flex-end;
    }
    .sidesSection{
        align-items: flex-start;
    }
    .sweetsSection{
        align-items: flex-end;
    }
    .menuItemContainer{
        align-items: flex-start;
    }
    .menuItem{
        display: flex;
        align-items: start;
        gap: 0.2rem;

        min-width: 500px;
    }
    .menuItemTopRow{
       flex-direction: row;
       width: 100%;
    }
    .menuItemBottomRow{
        display: block;
    }
    .horizontalLine{
        display: block;
        width: 100%;
        line-height: 0;
        
    }


    .menuItemTopRow h5{
        line-height: 1;
    }
    .overlappingImage1 {
        display: block;
        position: absolute;
        top: 88%;
        left: 73%;
        transform: translate(-50%, -50%);
        width: 38vw;
        height: auto;
        z-index: 0;
    }
}
/*UTILity */

